body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #ddeded;
}
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

textarea {
    resize: none;
}


.header-title{
    font-size: 50px;
    color: white;
    text-align: center;
    
}


.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../img/wave.png);
  background-size: 100% 100px;
}

.wave-container.wave1 {
  animation: animate 15s linear infinite;
  z-index: 10;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
@media (min-width: 768px) {
  .archivos {
      display: grid;
      grid-template-columns: auto auto;
      text-align: center;

  }
}

  .contenedor {
      background-color: aliceblue;
      border-radius: 15px;
      margin: 25px;
      padding: 5px;
  }


  .contenedorheader {
    background-color: #92dedc;
    border-radius: 5px;
    padding: auto;
}